<h2>Contactez nous !</h2>
<form #formVar="ngForm" (submit) = "sendMessage(formVar)" novalidate>
	<div class="form-group" 
		[class.has-error]="msgSubject.invalid && msgSubject.touched">
		<label for="subject" 
			class="control-label"> Sujet</label>
		<input   type="text"
				 class="form-control"
				 placeholder="Sujet" 
				 id="subject" 
				 ngModel 
				 name="subject"
				 #msgSubject="ngModel"
				 required>
	</div>
	<div class="form-group" 
		[class.has-error]="msgMessage.invalid &&msgMessage.touched">
		<label for="message"
			class = "control-label"> Message</label>
		<textarea type="text" 
				  class="form-control" 
				  placeholder="Message" 
				  id="message" 
				  ngModel
				  #msgMessage="ngModel"
				  name="message"
				  required></textarea>
	</div>	
	
	<div class="form-group">
		<label for="service"> Service</label>
		<select name="service" 
				id="service" 
				class="form-control" 
				ngModel >
			<option value="tech">Technique</option>
			<option value="sales">Commercial</option>
			<option value="guide">Guide moyenne montagne</option>
		</select>
	</div>		
	<button type="submit" class="btn btn-primary" [disabled] = "formVar.invalid">Envoyer/poster</button>
</form>

FormVar : {{formVar.valid}}
<br>
Sujet : {{ msgSubject.valid }}